VITE_SUPABASE_PROJECT_ID="ersqhobqaptsxqclawcc"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyc3Fob2JxYXB0c3hxY2xhd2NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NzMzNTQsImV4cCI6MjA4ODU0OTM1NH0.tEkD57GYjvHa49wCt-KTJ6pko2r9emh_czMxc_xTACw"
VITE_SUPABASE_URL="https://ersqhobqaptsxqclawcc.supabase.co"
